body {
  color: whitesmoke;
  font-family: 'Martel Sans';
  font-size: 14px;
  line-height: 1.65;

  background-color: #ffffff;
  background: #f8f8f9;

  background-image: url('../images/Tripods.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 100%;
  width: 100%;
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

a {
  text-decoration: underline;
  color: seashell;
}

.site-header-pro {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*----------Content------------X---*/

.content {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}
.maintop {
  display: block;
  min-height: 700px;
  min-width: 1200px;
  margin: auto;
/*  background-image: url("../images/img-mission-background.jpg");*/
/*  border: 1px solid seashell; */
 padding-top: 100px;
}
.mission {
  margin-top: 270px;
  background-color:blue;
  /*opacity: 0.5;*/
}

#contact {
    height: 200px;
}
footer {
    text-align: left;
    padding-left: 20px;
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
body #boxed-layout-pro {
    width: 100%;
  }
}
